@charset "UTF-8";
/* CSS Document */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
        1.1 - Headings
        1.2 - Body Copy
        1.3 - Buttons
        1.4 - Forms
        1.5 - Lists
        1.6 - Tables
2.0 - Navigation Menus
        2.1 - Main Menu
        2.2 - Sub Menu
        2.3 - Footer Menu
3.0 - Content
        3.1 - Site Structure (Site Header, Advertisement, Site Footer)
4.0 - Media
5.0 - Utility
        5.1 - Colors
        5.2 - Text Sizes
        5.3 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
body {
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #1a1a1a;
}
.thin, footer .f-right {
	font-weight: 300;
}
#menu li, footer p, #contact form {
	text-align: right;
}
a, .hollow, #process a, b, #menu .dropdown a:hover {
	color: #ea3f33;
}
.solid a, .hollow a:hover, .diagonal {
	background-color: #ea3f33;
}
#about, .solid a, .hollow a:hover, footer p, #process a:hover {
	color: #fdfdfd;
}
.hollow a, ul.dropdown, .bg-lite, .border>div {
	background-color: #fdfdfd;
}
blockquote a:hover {
	color: #103291;
}
#menu a {
	color: #0a39bf;
}
.btn, .btn a, .thin, .sprite li {
	display: inline-block;
}
blockquote a, h2, .btn, #menu a {
	text-transform: uppercase;
}
.sprite, #hero div.col-3-4 {
	text-align: center;
}
/* ----- 1.1 - Headings ----- */
h2 {
	font-size: 1.31rem;
	margin: 5px 0;
}
#products h2 {
	line-height: 1;
}
blockquote a, h2, .btn {
	font-weight: 700;
}
/* ----- 1.2 - Body Copy ----- */
blockquote.col-3-4 {
	margin: 0 auto 60px auto;
	font-size: 1.5rem;
}
b {
	font: italic 600 3.5rem 'Source Sans Pro';
}

#hero b {
	font-size: 9rem;
	letter-spacing: 2.5rem;
	margin-right: -2.5rem;
}
.thin {
	font-size: 0.9rem;
	margin-left: 10px;
}
header .thin {
	margin-left: 0;
}
#about {
	font-weight: 600;
}
footer .f-right {
	margin-top: -60px;
}

/* ----- 1.3 - Buttons ----- */
a {
	text-decoration: none;
}
.btn a {
	font-size: 0.875rem;
	padding: 8px 11px;
}
#contact .btn a {
	padding-left: 18px;
	padding-right: 18px;
}

.hollow a {
	border-color: #ea3f33;
}
.hollow a, .border>div {
	border-width: 2px;
	border-style: solid;
}
blockquote a {
	font-size: 1.125rem;
}
#process a, blockquote a {
	border-bottom: 3px solid #ea3f33;
}
#process a:hover {
	border-color: #fdfdfd;
}
blockquote a:hover {
	border-color: #103291;
}
#history .btn a:last-of-type {
	margin-left: 50px;
}
/* ----- 1.4 - Forms ----- */
input, textarea {
	width: 100%;
	padding: 5px;
}

#newsletter input {
	width: 80%;
}

input {
	height: 36px;
}
/* ----- 1.5 - Lists ----- */

/* ----- 1.6 - Tables ----- */


/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/* ----- 2.1 - Main Menu ----- */
#nav-bar {
	padding: 20px 0;
}
#menu {
	width: 150px;
}
.diagonal, .dropdown-toggle, nav>ul, ul.dropdown {
	position: absolute;
	right: 10%;
}
.diagonal {
	width: 2px;
	height: 50px;
	-moz-transform: translateY(-20px) translateX(-10px) rotate(45deg);
	-o-transform: translateY(-20px) translateX(-10px) rotate(45deg);
	-ms-transform: translateY(-20px) translateX(-10px) rotate(45deg);
	-webkit-transform: translateY(-20px) translateX(-10px) rotate(45deg);
	transform: translateY(-20px) translateX(-10px) rotate(45deg);
	transition-duration: 800ms;
	top: 35px;
	z-index: 1;
}
.dropdown-toggle {
	z-index: 2;
	font: italic 600 17px 'Source Sans Pro', sans-serif;
	letter-spacing: 3px;
	top: 24px;
}
nav>ul {
	margin: 0 -20px 0 0;
	top: 7px;
}
ul.dropdown {
	z-index: 3;
	font: 600 17px 'Source Sans Pro', sans-serif;
	letter-spacing: 1.5px;
	top: 12px;
	padding-top: 15px;
}
#menu li {
	list-style-type: none;
}
ul.dropdown li {
	padding: 7px 0;
}
ul.dropdown li:first-child {
	padding-top: 0;
	margin-top: -2px;
}
ul.dropdown li:last-child {
	padding-bottom: 0;
	margin-bottom: -2px;
}
.rotate {
	transform: rotate(0) scaleY(1.8) translate(35px, 10px);
	transition-duration: 800ms;
	z-index: 1000;
}

label, ul.dropdown {
	display: none;
}
ul.dropdown a, .sprite a {
	display: block;
}
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

.sprite, .wrapper, #hero div.col-3-4 {
	margin: 0 auto;
}

#evening-oak, input, textarea, #newsletter {
	margin-bottom: 20px;
}
/* ----- 3.1 - Site Structure (Header, Advertisement, Site Footer) ----- */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 85%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
img {
	max-width: 100%;
}
#contact-area, #products {
	padding: 60px 0 40px 0;
}
[class*='col-'] {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-3-4 {
	width: 75%;
}
.col-1-10 {
	width: 10%;
}
#products .col-2-3 {
	padding-left: 30px;
}
footer {
	padding: 40px 0 10px 0;
}
nav>ul, footer ul, blockquote.col-3-4 {
	padding: 0;
}
#newsletter p.btn, h1, #footer img {
	margin: 0;
}
blockquote.col-3-4, #hero div.col-3-4, .sprite.col-1-3 {
	float: none;
}
#products .f-right, #products p, .col-1-3.sprite {
	margin-bottom: 0;
} /*I these fellas down here, because they need to over-ride the float and margin applied by [class*='col-']*/
/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

.col-1-10 {
	min-width: 12vh;
}
#map {
	height: 400px;
}
#about {
	background: url(../img/process.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 60px 0;
}
footer div.col-1-10 {
	margin-top: -15px;
}
.sprite a {
	background-position: 0 0;
	height: 25px;
	width: 25px;
}
.sprite li {
	padding: 0 5px;
}
.sprite li:first-child a {
	background: url(../img/icon-google.png) no-repeat;
}
.sprite li:nth-child(2) a {
	background: url(../img/icon-facebook.png) no-repeat;
}
.sprite li:nth-child(3) a {
	background: url(../img/icon-twitter.png) no-repeat;
}
.sprite li a:hover {
	background-position: 0 -25px;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
.border>div {
	padding: 30px 40px 40px 40px;
	border-color: #1a1a1a;
}
/* ----- 5.1 - Colors ----- */
.bg-blue, .solid a:hover {
	background-color: #103291;
}
/* ----- 5.2 - Text Sizes ----- */
/* ----- 5.3 - Alignments ----- */
.f-right {
	float: right;
}




@media (min-width: 480px) {
.flex {
	display: -webkit-flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	overflow: hidden;
}
.flex > .col-1-2 {
	flex: 1;
}
.flex > .col-1-2 > .row {
	height: 100%;
}
}



@media (max-width: 480px) {
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
1.0 - TYPOGRAPHY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-= 1.1 - Headings =-=-=-= */
#evening-oak b, #newsletter b, #products h2 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.25rem;
}
#about h2 {
	margin-top: 30px;
}
#newsletter p {
	margin: 0 0 20px 0;
}
#newsletter h2 {
	margin-bottom: 3px;
}
#newsletter div.col-1-3 {
	margin-bottom: 10px;
}
#hero b {
	font-size: 4rem;
	letter-spacing: 1rem;
	margin-right: 0;
}
header .thin {
	margin-top: 0;
}
#products header, #products h2, #newsletter .col-2-3 {
	margin-bottom: 0;
}
/* =-=-=-= 1.2 - Body Copy =-=-=-= */
blockquote.col-3-4 {
	margin-bottom: 80px;
}
#hero p, #about, #newsletter, #products div.col-2-3 {
	font-size: .9rem;
}
#about {
	font-weight: 600;
}
#about .btn {
	margin-bottom: 20px;
}
.thin {
	font-weight: 400;
}
.thin, footer {
	font-size: 0.8rem
}
#products section .row>div.col-2-3 p:first-child {
	margin: 10px 0;
}
/* =-=-=-= 1.3 - Buttons =-=-=-= */

/* =-=-=-= 1.4 - Forms =-=-=-= */
input, #newsletter .btn {
	margin-bottom: 10px;
}
input {
	padding: 5px;
	height: 35px;
}
#newsletter input {
	width: 75%;
}
#newsletter input, #newsletter p {
	display: inline-block;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
2.0 - NAVIGATION MENUS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
3.0 - CONTENT
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-= 3.1 - Site Structure =-=-=-= */
.wrapper {
	width: 96%;
}

#evening-oak .col-1-3, #evening-oak .col-2-3 {
	width: 50%;
}
#evening-oak .row>.col-1-2, #newsletter>.col-1-3, #newsletter>.col-2-3, blockquote.col-3-4, #about section, #newsletter .col-1-3, #newsletter .col-2-3, #location, #contact {
	width: 100%;
}

#products section.col-1-2 div.col-2-3:last-child, #products section.col-1-2 header {
	width: 66%;
}
.col-1-10 {
	width: 20%;
}
#about {
	padding: 20px 0;
}
#newsletter .col-1-3, #newsletter .col-2-3, #map {
	padding: 0;
}
.border, #products div.col-2-3, #products header.col-2-3 {
	padding: 6px;
}
footer {
	padding: 40px 0 5px 0;
}
footer div.f-right {
	padding-top: 5px;
}
.border>div {
	padding: 10px;
}

#products section.col-1-2 {
	width: 100%;
}

#products section.col-1-2 img {
	width: 33%;
	padding: 10px 10px 0 5px;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
4.0 - MEDIA
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.sprite {
	width: 33%;
	text-align: left;
}
.sprite li {
	padding: 0 3px;
}
#map {
	height: 200px;
}
}
