@charset "UTF-8";
/* CSS Document */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	background-color: black;
	width: 85%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
} 

img {
	max-width: 100%;
}

figcaption {
	color:white;
}

/*targets any class that starts with col-whatever*/
[class*='col-'] {
	float: left;
	padding-right: 20px; /*use px because gutter should always be the same size*/
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4, .col-1-4-sm {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-4-9 {
	width: 44.44%;	
}

.col-5-9 {
	width: 55.55%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}


/*background color and height are just so we can see it in our browser*/

.coral, .beige {
	height: 50px;
}

.coral {
	background-color: coral;
}

.beige {
	background-color: papayawhip;
}

/*if you want to apply a bacground color to a column, you need to place a div inside of the column and apply the background color to that child element*/

@media (max-width: 480px) {
/*no more than 5 columns*/
	.wrapper {
		width: 95%;
	}
	
	.col-1-4 {
		width: 50%;
	}
	
	.col-1-4:nth-child(2), .col-1-7, .col-1-6:nth-child(3), .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(5), .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(8) {
		padding-right: 0;
	}
	
	.col-1-7, .col-1-11 {
		width: 100%;
	}
	
	.col-1-6, .col-1-9 {
		width: 33.33%;
	}
	
	.col-5-6 {
		width: 66.66%;
	}
	
	.col-1-8, .col-1-12 {
		width: 25%;
	}
	
	.col-1-10 {
		width: 20%;
	}
}

